<section class="about text-center" id="about">
      <div class="container">
        <div class="row">
          <br>
          <br>
          <br>

          <h2>Novo Produto</h2>

            <div class="single-about-detail clearfix">
              <div class="about-img"> <br>
              </div>
              <div class="about-details">
                <div class="pentagon-text">
                  <h1></h1>
                </div>
                <h3 style="height: 46px;">Área Restrita precisa logar...</h3>
                <p style="width: 294px;">


                  <table border="1"; align=center>
                      <tr>
                        <td align=right>

                          <p id="notice"><%= notice %></p>
<h1>
                          <p>
                            <strong>User:</strong>
                            <%= @produto.user.nome %>
                          </p>

                          <p>
                            <strong>Data:</strong>
                            <%= @produto.data %>
                          </p>

                          <p>
                            <strong>Objeto:</strong>
                            <%= @produto.objeto %>
                          </p>

                          <p>
                            <strong>Cpu:</strong>
                            <%= @produto.cpu %>
                          </p>

                          <p>
                            <strong>Hd:</strong>
                            <%= @produto.hd %>
                          </p>

                          <p>
                            <strong>Memoria:</strong>
                            <%= @produto.memoria %>
                          </p>

                          <p>
                            <strong>Obs:</strong>
                            <%= @produto.obs %>
                          </p>

                          <p>
                            <strong>Valor:</strong>
                            <%= @produto.valor %>
                          </p>

                          <%= link_to 'Edit', edit_produto_path(@produto) %> |
                          <%= link_to 'Back', produtos_path %>

</h1>

                        </td>
                        </tr>

                    </table>





                </p>
            </div>
          </div>

          </div>
        </div>
      </div>
    </section>
